* {
    list-style: none;
}

.contenedor-form {
    padding: 5rem 3rem;
    max-width: 500px;
    width: 95%;
    border-radius: 1rem;
}

.contenedor-form-signup {
    padding: 5rem 3rem;
    max-width: 500px;
    width: 95%;
    border-radius: 1rem;
}

.campo-form {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.campo-form:first-child {
    margin-top: 1rem;
}

.campo-form:last-of-type {
    margin: 0;
}

.campo-form label {
    flex: 0 0 100px;
}

.campo-form input[type="password"], .campo-form input[type="email"], .campo-form input[type="text"] {
    border: 1px solid #e1e1e1;
    padding: 1rem;
    flex: 1;
}

.paperForm {
    height: 85%;
    width: 80%;
    margin: auto;
    padding-bottom: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 0;
}

.alinea-centro {
    display: flex;
    align-self: center;
    align-items: baseline;
}

.input-form {
    color: #16181a;
    background-color: #fff;
    padding: 0%;
    border: 2px solid #16181a;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.buttonStyle {
    border: 3px solid #16181a;
    width: 151px;
}

.buttonStyle:last-child {
    margin-top: 1rem;
}